/* Empty. Add your own CSS if you like */
.color-demo {
    float: left;
    width: 20px;
    height: 20px;
    border-width: 1px;
    border-style: solid;
    border-radius: 4px;
    background: gray;	
}
.balanced-bg {
    background-color: #33cd5f;	
}
.balanced-border {
	border-color: #28a54c;	
}
.assertive-bg {
    background-color: #ef473a;	
}
.assertive-border {
	border-color: #e42112;
}
.login-nick {
	float: right;
	width: 100%;
	height: 20px;
}
.bar-subheader {
	height: auto;
	padding: 0;
}
.item-avatar, .item-avatar .item-content, .item-avatar-left, .item-avatar-left .item-content {
	width: 100%;
}
.has-subheader {
    top: 117px;
}